<div id="tribune-wrapper">
    <form id="palmipede" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" autofocus="autofocus" class="palmipede">
        <input name="message" placeholder="message" spellcheck="true">
        <button type="submit" class="button">Post</button>
        <span id="palmipede-showextras-button" title="Show/hide tribune preferences">&#x2699;</span>
        <fieldset id="palmipede-extras">
            <label class="form-label">Info
                <input id="palmipede-extras-info" class="form-input" name="info" placeholder="nickname or status">
            </label>
            <button id="palmipede-extras-save" class="button">Save my preferences in local storage.</button>
        </fieldset>
    </form>

    <div id="tribune" class="tribune"></div>
</div>